<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
  </system.web>
  <!-- Conexion a la base de datos, con autenticacion de windows -->
  <connectionStrings>
    <add
      name="DBConn"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=DESKTOP-R2R6C2F\YAMILETM;Initial Catalog=alumbrado2018;Integrated Security=SSPI;" />
  </connectionStrings>

</configuration>
